/* Variables */

/* ================

      Colours

==================*/

$body: #102542;
$links: #F87060;
$white: #FFF;
$holder: #CDD7D6;
$foottext: #B3AB94;


/* ================

      Fonts

==================*/

$font-link: 'Varela Round', sans-serif;

$font-body: 'Lato', sans-serif;

$font-headings: 'PT Serif', serif;

@import url('https://fonts.googleapis.com/css?family=Lato:300,400|PT+Serif:400,700');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
